<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form th:object="${newProduct}" method="post" th:action="@{/products/add}">
            <br>
            <input th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <br>
            <input th:field="*{price}">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            <br>
            <input th:field="*{description}">
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <br>
            <button th:type="submit">Dodaj</button>
        </form>
    </body>
</html>