<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form th:object="${newProduct}" method="post" th:action="@{/products/add}">
            <br>
            <input th:field="*{name}" th:placeholder="#{product.addProduct.name}">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:placeholder="nazwa"></div>
            <br>
            <input th:field="*{price}" th:placeholder="#{product.addProduct.price}">
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:placeholder="cena"></div>
            <br>
            <input th:field="*{description}" th:placeholder="#{product.addProduct.description}">
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <br>
            <a href="/">
                <button>[[#{product.addProduct.button.add}]]</button>
            </a>
        </form>
    </body>
</html>