<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>changePassword</title>
    </head>
    <body>
        <form th:object="${newPasswordForm}" method="post" th:action="@{/changePassword}">

            <input th:field="*{password}"
                   th:placeholder="#{form.login.passwordField}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

            <input th:field="*{repeatedPassword}" th:placeholder="#{form.login.passwordRepeatField}">
            <div th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></div>
            <button th:type="submit">[[#{product.button.save}]]</button>

        </form>
        <script th:src="@{~/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{~/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>


