<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <form th:object="${form}" method="post" th:action="@{/login}">
                        [[#{form.login.loginField}]]
                        <input th:field="*{login}" type="text">
                        <br>
                        [[#{form.login.passwordField}]]
                        <!--pobieranie wartosci z message.properties-->
                        <input th:field="*{password}" type="password">
                        <br>
                        <button type="submit">[[#{form.login.logIn}]]</button>
                        <button type="button" onclick="javascript:history.back()">[[#{product.button.back}]]</button>
                    </form>
                </div>
            </div>

        </div>

        <script th:src="@{~/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{~/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>