<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="span12">
                  <form>
                      <label for="login">login:</label>
                      <input id="login" type="text">
                      <br>
                      <label for="password"> password: </label>
                      <input id="password" type="password">
                      <br>
                      <button type="submit">submit</button>
                  </form>
                </div>
            </div>
        </div>

        <script>th:src="@{~/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{~/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>