<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
    </head>
    <body>
        <h2>Zaloguj się</h2><br>
        <label><b>Nazwa uzytkownika</b></label>
        <input type="text" placeholder="Username">
        <br>
        <label><b>Password</b></label>
        <input type="Password" placeholder="Password">
        <br>
        <input type="button" value="Zaloguj">
        <br>
        <input type="checkbox" id="check">
        <span>Pamiętaj</span>
        <br> Przypomnij <a href="#">haslo</a>
        </div>
    </body>
</html>