<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>register</title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td>
                        Login :
                    </td>
                    <td>
                        <input type=”Login” placeholder=login>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type=”Password” placeholder=haslo>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password :
                    </td>
                    <td>
                        <input type=”Password” placeholder=haslo>
                    </td>
                </tr>
            </table>
            <button th:type="submit">Utworz konto</button>
        </form>
    </body>
</html>