<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>register</title>
    </head>
    <body>
        <form th:object="${registerForm}" method="post" th:action="@{/register/add}">
            <b>nazwa</b>
            <input th:field="*{login}">
            <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            <b>haslo</b>
            <input th:field="*{password}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <b>powtorz haslo</b>
            <input th:field="*{repeatedPassword}">
            <div th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></div>
            <button th:type="submit">Utworz konto</button>
        </form>
        <script th:src="@{~/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{~/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>

